# Virtual Environment File
.venv

# Data Files
*.csv
*.xls
*.xlsx
*.zip
*.png
*.jpg
*.mp3
*.parquet
**/mp3s/*

# Information and Articles
*.htm

# Notebook Checkpoints
.ipynb_checkpoints

# Jupyter Notebook cache
__pycache__

# Settings files from VSCode
.vscode

# Environment Variable file
*.env

# Cached Tokens
*.cache

# .DS_Store (mac system file)
*.DS_Store 
